<header class="dashboard_title">
  <h1>Admin &raquo; Dashboard</h1>
</header>

<h1>
  Products in Database: 
  <a href="/admin/products"><%=@products%></a>
</h1>
<h1>Categories in Database: <%=@categories%></h1>
